<div class="beauty padding clearfix">
<h2>Профиль пользователя</h2>

<h3><%= gravatar_for(@user) %> <%= @user.username %></h3>

<hr>
<h4>Список постов:</h4><br>
<table class="table">
<% @user.posts.each do |post| %>
  <td><%= link_to post.title, post %></td>
  <td width=20%><%= link_to post.category.title, post.category %></td>
  <td width=20%><%= created_date(post) %></td>
<% end %>
</table>
<hr>
</ul>
</div>
