<table class="table table-condensed">
<tr>
  <th>Название</th>
  <th>Описание</th>
  <th>Ссылка</th>
  <th>Категория</th>
  <th>Автор</th>
</tr>
<% @links.each do |link| %>
<tr>
  <td><%= link_to link.title, link %> <small><%= link_to "Одобрить", approve_link_path(link), class: "approve", method: :put unless link.approved? %></small></td>
  <td><%= link.description %></td>
  <td><%= link.address %></td>
  <td><%= link_to link.category.title, link.category %></td>
  <td>
    <% if link.user %>
      <%= link_to link.user.username, link.user %>
    <% else %>
      Гость
    <% end %>
  </td>
</tr>
<% end %>
</table>
