<table class="table table-condensed">
<tr>
  <th><%= sortable "title", "Название" %></th>
  <th><%= sortable "description", "Описание" %></th>
  <th>Ссылка</th>
  <th><%= sortable "category_id", "Категория" %></th>
  <th><%= sortable "user_id", "Автор" %></th>
</tr>
<% @links.each do |link| %>
<tr>
  <td><%= link_to link.title, link %>
    <small>
    <%= link_to "Одобрить", approve_link_path(link), class: "approve", method: :put unless link.approved? %>
    <%= link_to "Отклонить", link, class: "approve", method: :delete unless link.approved? %>
    </small></td>
  <td><%= link.description %></td>
  <td><%= link.address %></td>
  <td><%= link_to link.category.title, link.category %></td>
  <td>
    <% if link.user %>
      <%= link_to link.user.username, link.user %>
    <% else %>
      Гость
    <% end %>
  </td>
</tr>
<% end %>
</table>
