<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Название записи" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "Текст в url записи" %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label "Содержимое записи" %><br>
    <%= f.text_area :content, cols: 120, rows: 25 %>
  </div>
  <div class="field">
    <%= f.label "Выберите категорию" %>
    <%= f.select :category_id, @post_category%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>