<p id="notice"><%= notice %></p>

<p>
  <h1><%= @post.title %></h1>
</p>

<div class="post-content single">
  <%= @post.content %>
</div>

<%= @post.category.title || "Категория не выбрана" %>


<%= link_to 'Править', edit_post_path(@post) %> |
<%= link_to 'Удалить', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
