<p id="notice"><%= notice %></p>

<p>
  <h1><%= @post.title %></h1>
</p>
<p class="lead">Автор: <%= link_to @post.user.username, @post.user %></p>
<p><span class="glyphicon glyphicon-time"></span> Опубликовано: <%= @post.created_at %></p>
<hr>

<div class="post-content single">
  <%= @post.content.html_safe %>
</div>

<%= @post.category.title || "Категория не выбрана" %>

<% if current_user %>
<hr>
  <%= link_to 'Править', edit_post_path(@post) %> |
  <%= link_to 'Удалить', @post, method: :delete, data: { confirm: 'Уверены?' } %>  
<% end %>
