<p id="notice"><%= notice %></p>

<p>
    <h1><%= @category.title %></h1>
</p>

<% @category.posts.each do |post| %>
<p><%= link_to post.title, post %></p>
<% end %>

<% if current_user %>
  <%= link_to 'Править', edit_category_path(@category) %> |
  <%= link_to 'Удалить', @category, method: :delete, data: { confirm: 'Are you sure?' } %>  
<% end %>  
