<nav class="navbar navbar-inverse navbar-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <%= link_to 'SkillUp.club', root_path, class: "navbar-brand" %>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                </ul>
                <div class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                  <li><%= link_to 'Новая запись', new_post_path %></li>
                  <li><%= link_to 'Настройки', edit_user_registration_path %></li>
                  <li><%= link_to 'Выход', destroy_user_session_path, :method=>'delete' %></li>
                <% else %>
                  <li><small><%= link_to 'Вход', new_user_session_path %></small></li>
                <% end %>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>