<!DOCTYPE html>
<html>
<head>
  <title>Ccommunity</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>

<div class="container">
<div class="col-md-9 col-lg-9 debug">
  <%= yield %>  
</div>
<%= render 'layouts/sidebar' %>
</div>

</body>
</html>
