<!DOCTYPE html>
<html>
<head>
  <title>Skill Up - сообщество начинающих веб-разработчиков</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <%= yield %>
    </div>
    <%= render partial: 'layouts/sidebar' %>
    </div>
    <hr>
    <%= render partial: 'layouts/footer' %>
</div>
<!-- /.container -->
</body>
</html>
